#pom.xml
*jar
*.war
/lib/
/classes/
vinzi.cdpPlugin/target/
vinzi.cdpPlugin/.settings/
.lein-failures
.lein-deps-sum
*~
*.class
*#
*.log
*.bck
*.old
*.bak
*.sql
*.swp
*.tmp
*.pyc
ccw.repl.cmdhistory.prefs
